<h1>Terve Tulua Mita kuulu</h1>
<?php

$collection = $this->GetResults();

?>

<table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
        <th>Feedback</th>
        <th>Created At</th>
      </tr>
    </thead>
    <tbody>
      <?php foreach ($collection as $item): ?>  
      <tr>
        <td><?php echo $item->getId();?></td>
        <td><?php echo $item->getName();?></td>
        <td><?php echo $item->getEmail();?></td>
        <td><?php echo $item->getText();?></td>
        <td><?php echo $item->getCreatedAt();?></td>
      </tr>
    <?php endforeach; ?>  
    </tbody>
</table>

