<form class="form" action="result" method="post">
    <div>My Form</div>
    <form action="result" method="post">
        <div>
            <span>Name:</span>
            <input type="text" name="name">
        </div>
        <div>
            <span>Email:</span>
            <input type="text" name="email">
        </div>

        <div>
            <span>Choose your gender:</span><br>
            <input type="radio" name="gender" value="male"> Male<br>
            <input type="radio" name="gender" value="female"> Female<br>
            <input type="radio" name="gender" value="other"> Other
        </div>

        <div>
            <span>Please tell us how we can improve our services:</span>
            <input type="text" name="answer">
        </div>
        <div><input type="submit" name="submit" value="Submit"></div>
    </form>
</form>
